:root {
    --main-light-font-color: #B6B3B4;
    --main-dark-font-color: #353535;
    --theme-main-color: #0CA9ED;
    --shadow-font-color: #B6B3B4;
    --field-bg-color: #F4F4F4;
    --box-shadow-color: #b17ed0;
  }